.container
  .pagetitle
    All Boards
  .board
    .board_header
      .board_header_title
        %h2 Brackets
      .board_header_actions
        .dropdown
          = image_tag 'action.svg', class: 'dropbtn'
          .dropdown-content.mini
            %a{href: "#"} Edit
            %a{href: "#"} Delete
    .board_content
      %p details
      = image_tag 'user1.png', class: 'avatar_image'
  .add-board
    %h2 + Add new board
