.container
  .pagetitle
    = @board.name
  .card
    .card_title
      Home business advertising ideas
    .card_content
      %p Old fashioned recipe for preventing allergies and chemical sensitivities
      = image_tag 'user1.png', class: 'avatar_image'
  .add-card
    %h2 + Add new card
