@import 'variables';

$avatar-size: 40px;

.header {
  display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    border-bottom: solid 1px $primary-color;

  &_pageTitle {
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}
