@import 'variables';

$avatar-size: 40px;

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  border-bottom: solid 1px $primary-color;

  &_signinBtn {
    background-color: $primary-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
  }

  &_pageTitle {
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}
